/dev.txt
/node_modules/
/.idea/
/secrets.json
/scripts/
/build/
/accounts.json
.env
.secret

/build/
/dist/
/types/truffle-contracts/
/tsconfig.tsbuildinfo
/coverage/
/coverage.json
/config/local.json
.DS_Store
